---
import Layout from "../layouts/Layout.astro";

import { Image } from "astro:assets";
import heroImg from "../assets/images/hero.jpg";
---

<Layout title="Sudio Casola Visentin">
  <main>
    <section class="sized-container hero">
      <div class="hero-text">
        <h1>Studio <span>Casola Visentin</span></h1>
        <p class="hero-intro">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum
          consequatur incidunt laboriosam modi impedit unde a dolorum, officiis
          similique eos est molestias aspernatur dignissimos facere! Cumque
          ratione a nihil iusto!
        </p>
      </div>
      <Image class="hero-image" src={heroImg} alt="Entrata" />
    </section>
  </main>
</Layout>

<style>
  .hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--size-5);
    margin-top: var(--size-10);
    padding-inline: var(--size-2);
  }
  h1 > span {
    background-image: linear-gradient(
      to bottom right,
      #f32170,
      #ff6b08,
      #cf23cf,
      #eedd44
    );
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  .hero-intro {
    margin-top: var(--size-4);
    color: var(--gray-7);
  }

  .hero-text {
    align-self: center;
  }

  .hero-image {
    border-radius: 50px;
  }
</style>
