---
import Layout from "../layouts/Layout.astro";

import { Image } from "astro:assets";
import corridorImg from "../assets/images/corridor.jpg";

import Hero from "../components/Hero.astro";
import Card from "../components/Card.astro";
import Map from "../components/Map.astro";
---

<Layout title="Sudio Casola Visentin">
  <main>
    <Hero />
    <section class="section-1">
      <div class="container section-grid">
        <div class="about-us">
          <h2>Chi siamo</h2>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet
            temporibus repellat odio fugiat sed possimus similique, aut
            laudantium voluptatibus. Minima excepturi vel mollitia facere?
            Minima exercitationem doloribus a possimus nobis?
          </p>
        </div>
        <Image
          class="corridor-img"
          src={corridorImg}
          alt="Corridoio Studio Casola Visentin"
        />
      </div>
    </section>

    <!-- <section id="who-we-are" class="section-container section-color">
      <h2>Chi Siamo</h2><p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore,
        veritatis nulla temporibus odit sunt laboriosam mollitia! Similique
        nostrum laudantium distinctio fugiat voluptatem, aspernatur quia
        excepturi nam necessitatibus, sapiente sunt autem.
      </p>
    </section>
    <section id="services" class="section-container">
      <h2>Servizi</h2>
      <div class="cards-container">
        <Card title="Lorem" body="Lorem ipsum dolor sit" />
        <Card title="Lorem" body="Lorem ipsum dolor sit" />
        <Card title="Lorem" body="Lorem ipsum dolor sit" />
      </div>
    </section>
    <section id="contacts" class="section-container contacts">
      <div class="contacts-container">
        <div><h2>Contatti</h2></div>
        <Map />
      </div>
    </section> -->
    <div class="placeholder"></div>
  </main>
</Layout>

<style>
  .placeholder {
    height: 400px;
    background-color: blue;
    margin-top: 200px;
  }
  .section-1 {
    margin-top: var(--size-10);
  }

  .section-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: var(--size-12);
  }

  .about-us {
    align-self: center;
  }

  .cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: var(--size-4);
  }

  .corridor-img {
    border-radius: var(--radius-2);
  }
</style>

<script>
  let observer;

  let options = {
    root: null,
    rootMargin: "-80px 0px 0px 0px",
    threshold: [0, 0.25, 0.5, 0.75, 1],
  };

  const header = document.getElementById("header");

  const intersectionCallback = (entries) => {
    entries.forEach((entry) => {
      if (!entry.isIntersecting) {
        console.log(header);
        header?.classList.add("header-blurred");
      } else {
        header?.classList.remove("header-blurred");
      }
    });
  };

  observer = new IntersectionObserver(intersectionCallback, options);

  const hero = document.querySelector("#hero");

  observer.observe(hero);
</script>
