---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Sudio Casola Visentin">
  <main>
    <h1>Studio Casola Visentin</h1>
    <ul role="list" class="link-card-grid">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. At, dolores!
      Esse, explicabo? Itaque quidem ab architecto non, ratione dolorum
      temporibus? Asperiores nemo iste exercitationem hic laudantium natus cum,
      molestiae sequi. Deleniti odio tempora repellat voluptate harum eum porro
      autem adipisci blanditiis facilis. Hic voluptates, libero amet, illo, esse
      deleniti labore eveniet alias accusantium rerum exercitationem! Eos
      distinctio doloremque sequi nulla! Voluptas quod nihil animi. Eveniet
      voluptate mollitia quam porro a ab nostrum distinctio temporibus? Iste
      possimus, earum atque officia cum ad non, nesciunt minima ipsam magni,
      ullam perspiciatis inventore exercitationem? Fugiat earum fuga architecto
      eum. Unde minus inventore perspiciatis reprehenderit omnis, aperiam error
      repudiandae ipsam commodi beatae quibusdam consequuntur ea veritatis
      labore quaerat placeat tempore quam iusto. Laboriosam, autem maxime! Nemo
      maiores animi illum ad quae repudiandae delectus quia molestias unde ex,
      harum quam possimus eligendi fuga rem facilis quod qui rerum sit corporis
      omnis quis asperiores consequatur. Tempore, aliquid. Et molestias ea non
      doloribus, soluta obcaecati, corrupti eveniet eos eum commodi in id,
      corporis quos dignissimos odit delectus quidem perferendis aperiam! Est
      officia quae eaque dignissimos repellat recusandae architecto. Lorem,
      ipsum dolor sit amet consectetur adipisicing elit. At, dolores! Esse,
      explicabo? Itaque quidem ab architecto non, ratione dolorum temporibus?
      Asperiores nemo iste exercitationem hic laudantium natus cum, molestiae
      sequi. Deleniti odio tempora repellat voluptate harum eum porro autem
      adipisci blanditiis facilis. Hic voluptates, libero amet, illo, esse
      deleniti labore eveniet alias accusantium rerum exercitationem! Eos
      distinctio doloremque sequi nulla! Voluptas quod nihil animi. Eveniet
      voluptate mollitia quam porro a ab nostrum distinctio temporibus? Iste
      possimus, earum atque officia cum ad non, nesciunt minima ipsam magni,
      ullam perspiciatis inventore exercitationem? Fugiat earum fuga architecto
      eum. Unde minus inventore perspiciatis reprehenderit omnis, aperiam error
      repudiandae ipsam commodi beatae quibusdam consequuntur ea veritatis
      labore quaerat placeat tempore quam iusto. Laboriosam, autem maxime! Nemo
      maiores animi illum ad quae repudiandae delectus quia molestias unde ex,
      harum quam possimus eligendi fuga rem facilis quod qui rerum sit corporis
      omnis quis asperiores consequatur. Tempore, aliquid. Et molestias ea non
      doloribus, soluta obcaecati, corrupti eveniet eos eum commodi in id,
      corporis quos dignissimos odit delectus quidem perferendis aperiam! Est
      officia quae eaque dignissimos repellat recusandae architecto. Lorem,
      ipsum dolor sit amet consectetur adipisicing elit. At, dolores! Esse,
      explicabo? Itaque quidem ab architecto non, ratione dolorum temporibus?
      Asperiores nemo iste exercitationem hic laudantium natus cum, molestiae
      sequi. Deleniti odio tempora repellat voluptate harum eum porro autem
      adipisci blanditiis facilis. Hic voluptates, libero amet, illo, esse
      deleniti labore eveniet alias accusantium rerum exercitationem! Eos
      distinctio doloremque sequi nulla! Voluptas quod nihil animi. Eveniet
      voluptate mollitia quam porro a ab nostrum distinctio temporibus? Iste
      possimus, earum atque officia cum ad non, nesciunt minima ipsam magni,
      ullam perspiciatis inventore exercitationem? Fugiat earum fuga architecto
      eum. Unde minus inventore perspiciatis reprehenderit omnis, aperiam error
      repudiandae ipsam commodi beatae quibusdam consequuntur ea veritatis
      labore quaerat placeat tempore quam iusto. Laboriosam, autem maxime! Nemo
      maiores animi illum ad quae repudiandae delectus quia molestias unde ex,
      harum quam possimus eligendi fuga rem facilis quod qui rerum sit corporis
      omnis quis asperiores consequatur. Tempore, aliquid. Et molestias ea non
      doloribus, soluta obcaecati, corrupti eveniet eos eum commodi in id,
      corporis quos dignissimos odit delectus quidem perferendis aperiam! Est
      officia quae eaque dignissimos repellat recusandae architecto. Lorem,
      ipsum dolor sit amet consectetur adipisicing elit. At, dolores! Esse,
      explicabo? Itaque quidem ab architecto non, ratione dolorum temporibus?
      Asperiores nemo iste exercitationem hic laudantium natus cum, molestiae
      sequi. Deleniti odio tempora repellat voluptate harum eum porro autem
      adipisci blanditiis facilis. Hic voluptates, libero amet, illo, esse
      deleniti labore eveniet alias accusantium rerum exercitationem! Eos
      distinctio doloremque sequi nulla! Voluptas quod nihil animi. Eveniet
      voluptate mollitia quam porro a ab nostrum distinctio temporibus? Iste
      possimus, earum atque officia cum ad non, nesciunt minima ipsam magni,
      ullam perspiciatis inventore exercitationem? Fugiat earum fuga architecto
      eum. Unde minus inventore perspiciatis reprehenderit omnis, aperiam error
      repudiandae ipsam commodi beatae quibusdam consequuntur ea veritatis
      labore quaerat placeat tempore quam iusto. Laboriosam, autem maxime! Nemo
      maiores animi illum ad quae repudiandae delectus quia molestias unde ex,
      harum quam possimus eligendi fuga rem facilis quod qui rerum sit corporis
      omnis quis asperiores consequatur. Tempore, aliquid. Et molestias ea non
      doloribus, soluta obcaecati, corrupti eveniet eos eum commodi in id,
      corporis quos dignissimos odit delectus quidem perferendis aperiam! Est
      officia quae eaque dignissimos repellat recusandae architecto. Lorem,
      ipsum dolor sit amet consectetur adipisicing elit. At, dolores! Esse,
      explicabo? Itaque quidem ab architecto non, ratione dolorum temporibus?
      Asperiores nemo iste exercitationem hic laudantium natus cum, molestiae
      sequi. Deleniti odio tempora repellat voluptate harum eum porro autem
      adipisci blanditiis facilis. Hic voluptates, libero amet, illo, esse
      deleniti labore eveniet alias accusantium rerum exercitationem! Eos
      distinctio doloremque sequi nulla! Voluptas quod nihil animi. Eveniet
      voluptate mollitia quam porro a ab nostrum distinctio temporibus? Iste
      possimus, earum atque officia cum ad non, nesciunt minima ipsam magni,
      ullam perspiciatis inventore exercitationem? Fugiat earum fuga architecto
      eum. Unde minus inventore perspiciatis reprehenderit omnis, aperiam error
      repudiandae ipsam commodi beatae quibusdam consequuntur ea veritatis
      labore quaerat placeat tempore quam iusto. Laboriosam, autem maxime! Nemo
      maiores animi illum ad quae repudiandae delectus quia molestias unde ex,
      harum quam possimus eligendi fuga rem facilis quod qui rerum sit corporis
      omnis quis asperiores consequatur. Tempore, aliquid. Et molestias ea non
      doloribus, soluta obcaecati, corrupti eveniet eos eum commodi in id,
      corporis quos dignissimos odit delectus quidem perferendis aperiam! Est
      officia quae eaque dignissimos repellat recusandae architecto. Lorem,
      ipsum dolor sit amet consectetur adipisicing elit. At, dolores! Esse,
      explicabo? Itaque quidem ab architecto non, ratione dolorum temporibus?
      Asperiores nemo iste exercitationem hic laudantium natus cum, molestiae
      sequi. Deleniti odio tempora repellat voluptate harum eum porro autem
      adipisci blanditiis facilis. Hic voluptates, libero amet, illo, esse
      deleniti labore eveniet alias accusantium rerum exercitationem! Eos
      distinctio doloremque sequi nulla! Voluptas quod nihil animi. Eveniet
      voluptate mollitia quam porro a ab nostrum distinctio temporibus? Iste
      possimus, earum atque officia cum ad non, nesciunt minima ipsam magni,
      ullam perspiciatis inventore exercitationem? Fugiat earum fuga architecto
      eum. Unde minus inventore perspiciatis reprehenderit omnis, aperiam error
      repudiandae ipsam commodi beatae quibusdam consequuntur ea veritatis
      labore quaerat placeat tempore quam iusto. Laboriosam, autem maxime! Nemo
      maiores animi illum ad quae repudiandae delectus quia molestias unde ex,
      harum quam possimus eligendi fuga rem facilis quod qui rerum sit corporis
      omnis quis asperiores consequatur. Tempore, aliquid. Et molestias ea non
      doloribus, soluta obcaecati, corrupti eveniet eos eum commodi in id,
      corporis quos dignissimos odit delectus quidem perferendis aperiam! Est
      officia quae eaque dignissimos repellat recusandae architecto.
    </ul>
  </main>
</Layout>

<style></style>
