---
import { Image } from "astro:assets";
import corridorImg from "../assets/images/corridor.jpg";
---

<section id="about-us" aria-labelledby="heading-about-us">
  <div class="container about-us-grid">
    <div class="about-us">
      <h2 id="heading-about-us">Chi siamo</h2>
      <p>
        Lo <b>Studio Casola&Visentin srl</b> si occupa di tutto ciò che concerne
        la consulenza tributaria d'impresa e societaria compresa l’assistenza amministrativa.
        Da anni opera in tale settore e grazie all'esperienza acquisita sul campo
        è in grado di soddisfare ogni esigenza del cliente proponendo le soluzioni
        migliori a seconda dei casi.
      </p>
      <p>
        Il <b>Dott. Davide Casola</b>, Dottore Commercialista e Revisore Legale,
        ricopre incarichi in collegi sindacali, consigli di amministrazione e di
        revisione presso Enti Pubblici e di interesse pubblico.
      </p>
    </div>
    <Image
      class="corridor-img"
      src={corridorImg}
      alt="Corridoio Studio Casola Visentin"
    />
  </div>
</section>

<style>
  .about-us-grid {
    display: grid;
    grid-row-gap: var(--size-5);
    grid-template-areas:
      "about-us"
      "image";
  }

  @media (min-width: 580px) {
    .about-us-grid {
      grid-template-areas: "about-us image";
      grid-template-columns: 1fr 1fr;
      grid-column-gap: var(--section-grid-column-gap);
    }

    .corridor-img {
      max-width: 20rem;
    }
  }

  .corridor-img {
    border-radius: var(--border-radius);
    width: 100%;
    height: 100%;
    justify-self: center;
    grid-area: image;
  }
  .about-us {
    align-self: center;
    text-align: justify;
    grid-area: about-us;
  }
</style>
