---
import { Image } from "astro:assets";
import corridorImg from "../assets/images/corridor.jpg";
---

<section id="about-us" aria-labelledby="heading-about-us">
  <div class="container section-content-grid">
    <div class="about-us">
      <h2 id="heading-about-us">Chi siamo</h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet
        temporibus repellat odio fugiat sed possimus similique, aut laudantium
        voluptatibus. Minima excepturi vel mollitia facere? Minima
        exercitationem doloribus a possimus nobis?
      </p>
    </div>
    <Image
      class="corridor-img"
      src={corridorImg}
      alt="Corridoio Studio Casola Visentin"
    />
  </div>
</section>

<style>
  .corridor-img {
    border-radius: var(--radius-2);
  }
</style>
