---
import { Image } from "astro:assets";
import corridorImg from "../assets/images/corridor.jpg";
---

<section id="about-us" class="section-standard">
  <div class="container section-grid">
    <div class="about-us">
      <h2>Chi siamo</h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet
        temporibus repellat odio fugiat sed possimus similique, aut laudantium
        voluptatibus. Minima excepturi vel mollitia facere? Minima
        exercitationem doloribus a possimus nobis?
      </p>
    </div>
    <Image
      class="corridor-img"
      src={corridorImg}
      alt="Corridoio Studio Casola Visentin"
    />
  </div>
</section>

<style>
  #about-us {
    align-self: center;
    scroll-behavior: smooth;
  }

  .corridor-img {
    border-radius: var(--radius-2);
  }
</style>
