---
const { title } = Astro.props;

import { Image } from "astro:assets";
---

<article class="card">
  <Image
    class="corridor-img"
    src="https://picsum.photos/300/200"
    alt="Corridoio Studio Casola Visentin"
    width="300"
    height="200"
  />
  <div class="card-content">
    <h2>{title}</h2>
    <slot />
  </div>
</article>

<style>
  .card {
    /* width: 20rem; */
    border-radius: var(--border-radius);
    background-color: var(--blue-12);
    padding-bottom: 2rem;
    overflow: hidden;
  }

  .card-content {
    font-size: var(--font-size-2);
    padding-block: 0.5em;
    padding-inline: 0.6em;
    font-size: var(--font-size-1);
  }

  .card-content h2 {
    color: var(--text-color-white);
    font-size: var(--font-size-3);
    margin-top: 1.2rem;
    margin-bottom: 1rem;
  }

  .card > img {
    width: 100%;
  }
</style>
