---
const { img, body } = Astro.props;

import { Image } from "astro:assets";
const imgImport = img();
---

<div class="card">
  <Image
    class="corridor-img"
    src={imgImport}
    alt="Corridoio Studio Casola Visentin"
    width={imgImport.width}
  />
  <p>
    {body}
  </p>
</div>

<style>
  .card > p {
    font-weight: var(--font-weight-3);
    color: white;
    text-align: center;
  }

  .card {
    width: 15rem;
  }

  .card img {
    width: 100%;
    margin-bottom: var(--size-3);
  }
</style>
