---
const { title, body } = Astro.props;
---

<div class="card">
  <h3>{title}</h3>
  <p>
    {body}
  </p>
</div>

<style>
  .card {
    padding: var(--size-4) var(--size-3);
    border-radius: var(--radius-2);
    box-shadow: var(--shadow-3);
    background-color: white;
  }

  .card > h3 {
    font-weight: var(--font-weight-4);
  }

  .card > p {
    font-weight: var(--font-weight-3);
  }
</style>
