---
import feather from "feather-icons";

import ContactsLink from "../components/ContactsLink.astro";

const mapIcon = feather.icons.map.toSvg();
const mapClock = feather.icons.clock.toSvg();

const links = {
  phone: {
    iconType: "phone",
    content: "+39 0165 267198",
    color: "blue",
    href: "tel:+39 0165 267198",
  },
  mail: {
    iconType: "mail",
    content: "info@cedacosrl.it",
    color: "green",
    href: "mailto:info@cedacosrl.it",
  },
};
---

<section
  id="contacts"
  class="section-contacts"
  aria-labelledby="heading-contacts"
>
  <div class="container contacts-container">
    <h2 id="heading-contacts">Contatti</h2>
    <div class="contacts-grid">
      <div class="contacts-main">
        <h3 class="contacts-h3"><Fragment set:html={mapClock} /> Orari</h3>
        <ul class="business-hours">
          <li>
            Dal Lunedì al Giovedì: <span>09:00 - 13:00 | 14:00 - 18:00</span>
          </li>
          <li>Venerdì: <span>09:00 - 13:00</span></li>
          <li>Sabato e Domenica: <span>chiuso</span></li>
        </ul>
        <div class="contacts-links">
          <ContactsLink {...links.phone} />
          <ContactsLink {...links.mail} />
        </div>
      </div>
      <div class="location">
        <h3 class="contacts-h3"><Fragment set:html={mapIcon} /> Dove Siamo</h3>
        <address>Localita' Grand Chemin 30, Saint-christophe, AO 11020</address>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d89104.91164014465!2d7.213734697265624!3d45.74054999999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4788df4df04284ad%3A0x4f606dddc0e97e3b!2sCe.da.co%20srl!5e0!3m2!1sit!2sit!4v1730890177130!5m2!1sit!2sit"
          width="300"
          height="300"
          style="border:0;"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>
</section>

<style>
  .section-contacts {
    background-color: var(--gray-2);
    padding-block: var(--size-8);
  }
  .contacts-container {
    background-color: white;
    border-radius: var(--radius-3);
    padding: var(--size-4) var(--size-3);
    box-shadow: var(--shadow-3);
  }

  .contacts-grid {
    margin-top: var(--size-3);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: var(--size-5);
  }

  .business-hours {
    list-style: none;
    padding: 0;
  }

  .business-hours li {
    color: var(--gray-6);
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-size: var(--font-size-2);
  }

  .contacts-h3 {
    display: flex;
    gap: var(--size-2);
    align-items: center;
    font-size: var(--font-size-4);
    font-weight: var(--font-weight-4);
    color: var(--gray-7);
    margin-bottom: var(--size-2);
  }

  .location address {
    font-style: normal;
    margin-bottom: var(--size-2);
    color: var(--gray-6);
    display: flex;
    gap: var(--size-2);
    align-items: center;
  }

  .contacts-links {
    margin-top: var(--size-3);
    display: grid;
    grid-row-gap: var(--size-2);
  }
</style>
