---
import feather from "feather-icons";

import ContactsLink from "../components/ContactsLink.astro";

const mapIcon = feather.icons.map.toSvg();
const mapClock = feather.icons.clock.toSvg();

const links = {
  phone: {
    iconType: "phone",
    content: "+39 0165 267198",
    color: "blue",
    href: "tel:+39 0165 267198",
    ariaDescription: "Numero di telefono +39 0165 267198",
  },
  mail: {
    iconType: "mail",
    content: "info@cedacosrl.it",
    color: "green",
    href: "mailto:info@cedacosrl.it",
    ariaDescription: "Indirizzo di posta elettronica info@cedacosrl.it",
  },
};
---

<section
  id="contacts"
  class="section-contacts"
  aria-labelledby="heading-contacts"
>
  <div class="container contacts-container">
    <h2 id="heading-contacts">Contatti</h2>
    <div class="contacts-grid">
      <div class="contacts-info">
        <h3><Fragment set:html={mapClock} /> Orari</h3>
        <ul class="business-hours list-reset">
          <li>
            Dal Lunedì al Giovedì: <span>09:00 - 13:00 | 14:00 - 18:00</span>
          </li>
          <li>Venerdì: <span>09:00 - 13:00</span></li>
          <li>Sabato e Domenica: <span>chiuso</span></li>
        </ul>
        <div class="contacts-links">
          <ContactsLink {...links.phone} />
          <ContactsLink {...links.mail} />
        </div>
      </div>
      <div class="contacts-location">
        <h3 class="contacts-h3">
          <Fragment set:html={mapIcon} /> Dove Siamo
        </h3>
        <address>Localita' Grand Chemin 30, Saint-christophe, AO 11020</address>
        <iframe
          class="map"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d89104.91164014465!2d7.213734697265624!3d45.74054999999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4788df4df04284ad%3A0x4f606dddc0e97e3b!2sCe.da.co%20srl!5e0!3m2!1sit!2sit!4v1730890177130!5m2!1sit!2sit"
          width="300"
          height="300"
          style="border:0;"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>
</section>

<style>
  .contacts-grid {
    margin-top: var(--below-heading-margin);
    display: grid;
    grid-row-gap: var(--size-8);
    grid-template-areas:
      "contacts"
      "location";
  }

  .map {
    width: 100%;
  }

  @media (min-width: 580px) {
    .contacts-grid {
      grid-template-areas: "contacts location";
      grid-template-columns: 1fr 1fr;
      grid-column-gap: var(--section-grid-column-gap);
    }

    .map {
      max-width: 25rem;
    }
  }

  .contacts-info {
    grid-area: contacts;
  }

  .section-contacts {
    background-color: var(--gray-2);
  }

  .contacts-container {
    background-color: white;
    border-radius: var(--border-radius);
    padding: var(--size-4) var(--size-3);
    box-shadow: var(--shadow-3);
  }

  .business-hours {
    margin-top: var(--below-heading-margin);
  }

  .business-hours li {
    color: var(--text-color-body);
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .contacts-links {
    margin-top: var(--below-heading-margin);
    display: grid;
    grid-row-gap: var(--gap-align-icons);
  }

  h3 {
    display: flex;
    gap: var(--gap-align-icons);
    align-items: center;
    font-size: var(--font-size-4);
    font-weight: var(--font-weight-4);
    color: var(--gray-7);
  }

  .contacts-location {
    grid-area: location;
  }

  .contacts-location address {
    margin-top: var(--below-heading-margin);
    margin-bottom: var(--below-heading-margin);
    font-size: var(--content-font-size);
    color: var(--text-color-body);
  }
</style>
