<footer class="page-footer">
  <div class="container footer-container">
    <h2>Studio Casola Visentin</h2>
    <address>Localita' Grand Chemin 30, Saint-christophe, AO 11020</address>
    <a href="tel:+39 0165 267198">
      <span class="visibly-hidden">Numero di telefono +39 0165 267198</span>
      +39 0165 267198
    </a> |
    <a href="mailto:info@cedacosrl.it">
      <span class="visibly-hidden">
        Indirizzo di posta elettronica info@cedacosrl.it
      </span>info@cedacosrl.it
    </a>
    <p class="footer-vat-code">P.IVA: 123456789</p>
  </div>
</footer>

<style>
  .footer-title {
    font-weight: var(--font-weight-6);
    font-size: var(--font-size-3);
  }
  .page-footer {
    padding-block: var(--size-6);
    padding-inline: var(--size-2);
    background-color: var(--blue-12);
    color: white;
    text-align: center;
  }

  .page-footer h2 {
    color: inherit;
    text-align: center;
    min-width: 100%;
    font-size: var(--font-size-3);
  }

  /*   .footer-container {
    padding-inline: var(--size-4);
  } */

  .page-footer a {
    color: var(--blue-4);
    text-decoration-color: var(--blue-4);
  }

  .footer-vat-code {
    min-width: 100%;
    color: inherit;
  }
</style>
