---

---

<header id="header">
  <div class="container header-container">
    <a class="header-logo" data-id="hero" href="#hero">Studio Casola Visentin</a
    >
    <nav>
      <ul class="header-links">
        <li>
          <a class="header-link" data-id="about-us" href="#about-us"
            >Chi Siamo</a
          >
        </li>
        <li>
          <a class="header-link" data-id="services" href="#services">Servizi</a>
        </li>
        <li>
          <a class="header-link" data-id="contacts" href="#contacts">Contatti</a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>

<script>
  const header = document.querySelector("#header");

  const headerHeight = header?.getBoundingClientRect().height || 0;

  const scrollIntoViewWithOffset = (selection, offset = 0) => {
    window.scrollTo({
      behavior: "smooth",
      top:
        selection.getBoundingClientRect().top -
        document.body.getBoundingClientRect().top -
        offset,
    });
    selection.focus();
  };

  const setupSmoothScroll = (id) => {
    const link = document.querySelector(`a[data-id='${id}']`);
    const section = document.querySelector(`#${id}`);

    // Improve accessibility: make the element focusable when scrolled to.
    // Remove tab focus capability to just focus upon click from eventListeners
    section?.setAttribute("tabindex", "-1"); // make the element focusable
    section?.removeAttribute("tabindex");

    link?.addEventListener("click", (event) => {
      event.preventDefault();
      scrollIntoViewWithOffset(section, headerHeight);
    });
  };

  setupSmoothScroll("hero");
  setupSmoothScroll("about-us");
  setupSmoothScroll("services");
  setupSmoothScroll("contacts");
</script>

<style>
  a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
  }

  header {
    color: var(--gray-1);
    position: sticky;
    top: 0;
    background-color: var(--blue-10);
    transition: background-color 0.5s ease;
  }

  .header-container {
    height: 5rem;
    padding-block: var(--size-2);
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    gap: var(--size-5);
  }

  .header-blurred {
    background-color: rgba(245, 245, 245, 0.95);
    color: var(--gray-9);
  }

  .header-blurred .header-link {
    color: var(--gray-7);
  }

  .header-blurred .header-link:hover {
    border-bottom: 2px solid var(--gray-7);
  }

  .header-links {
    list-style: none;
    display: flex;
    padding: 0;
    margin-inline: auto;
    width: fit-content;
    gap: var(--size-8);
    color: var(--gray-1);
  }

  .header-link {
    --underline: 1px solid;
    color: inherit;
    display: block;
    padding: 0.1em;
    border-bottom: 2px solid transparent;
    transition: border-color 200ms ease-in;
  }

  .header-link:hover {
    border-bottom: 2px solid var(--gray-1);
  }

  .header-logo {
    font-weight: 600;
    margin-right: auto;
  }

  .contact-link {
    justify-self: end;
    display: grid;
    grid-template-columns: 25px 1fr;
    grid-column-gap: var(--size-2);
    padding-block: 1em;
    padding-inline: 2em;
    background-color: var(--green-9);
    border-radius: var(--radius-3);
    color: white;
    transition: background-color 200ms ease-in;
  }
  .contact-link:hover {
    background-color: var(--green-10);
  }
</style>
