---
import MenuButton from "./MenuButton.astro";
---

<header id="header">
  <div class="container">
    <a class="header-link header-logo" data-id="hero" href="#hero">
      Studio Casola Visentin
    </a>
    <nav class="header-nav">
      <ul>
        <li>
          <a
            class="header-link header-navlink"
            data-id="about-us"
            href="#about-us">Chi Siamo</a
          >
        </li>
        <li>
          <a
            class="header-link header-navlink"
            data-id="services"
            href="#services">Servizi</a
          >
        </li>
        <li>
          <a
            class="header-link header-navlink"
            data-id="contacts"
            href="#contacts">Contatti</a
          >
        </li>
      </ul>
    </nav>
    <MenuButton />
  </div>
</header>

<script>
  const header = document.querySelector("#header");

  const headerHeight = header?.getBoundingClientRect().height || 0;

  const scrollIntoViewWithOffset = (selection, offset = 0) => {
    window.scrollTo({
      behavior: "smooth",
      top:
        selection.getBoundingClientRect().top -
        document.body.getBoundingClientRect().top -
        offset,
    });
    selection.focus();
  };

  const setupSmoothScroll = (id) => {
    const link = document.querySelector(`a[data-id='${id}']`);
    const section = document.querySelector(`#${id}`);

    // Improve accessibility: make the element focusable when scrolled to.
    // Remove tab focus capability to just focus upon click from eventListeners
    section?.setAttribute("tabindex", "-1"); // make the element focusable
    section?.removeAttribute("tabindex");

    link?.addEventListener("click", (event) => {
      event.preventDefault();
      scrollIntoViewWithOffset(section, headerHeight - 1); // -5 to fire the animation slightly before reaching the target
    });
  };

  setupSmoothScroll("hero");
  setupSmoothScroll("about-us");
  setupSmoothScroll("services");
  setupSmoothScroll("contacts");
</script>

<style>
  #header {
    --header-background-top: var(--color-blue-light);
    --header-background-scrolled: rgba(245, 245, 245, 0.95);
    --header-color-top: var(--text-color-white);
    --header-color-scrolled: var(--text-color-heading);

    --header-background: var(--header-background-top);
    --header-color: var(--header-color-top);

    color: var(--header-color);
    position: sticky;
    top: 0;
    background-color: var(--header-background);
    transition: background-color 0.5s ease;
  }

  #header > div {
    padding-block: var(--size-4);
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    gap: var(--size-5);
  }

  @media (min-width: 580px) {
    .header-nav {
      display: block;
    }

    #header > div {
      grid-template-columns: 1fr 2fr 1fr;
    }
  }

  .header-link {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
    width: max-content;
  }

  .header-logo {
    font-weight: 600;
  }

  .header-nav > ul {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0;
    margin-inline: auto;
    width: fit-content;
    gap: var(--size-8);
    align-items: center;
  }

  .header-navlink {
    border-bottom: 1px solid transparent;
    transition: border-bottom 200ms ease-in;
    padding-bottom: var(--size-1);
  }

  .header-navlink:hover {
    border-bottom: 1px solid var(--header-color);
  }
</style>
