---
import feather from "feather-icons";

const phoneIcon = feather.icons.phone.toSvg();
---

<header id="header">
  <div class="sized-container header-container">
    <span class="header-logo">Studio Casola Visentin</span>
    <nav>
      <ul class="header-links">
        <li><a class="header-link" href="#">Chi Siamo</a></li>
        <li><a class="header-link" href="#services">Servizi</a></li>
        <li><a class="header-link" href="#">Contatti</a></li>
      </ul>
    </nav>
    <a href="#contacts" class="contact-link"
      ><Fragment set:html={phoneIcon} /> 0165 267198 <i id="test"></i></a
    >
  </div>
</header>

<style>
  a {
    text-decoration: none;
    color: inherit;
  }

  header {
    color: var(--gray-1);
    position: sticky;
    top: 0;
    background-color: var(--blue-10);
  }

  .header-container {
    height: 100%;
    padding-block: var(--size-2);
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    gap: var(--size-5);
  }

  .header-links {
    list-style: none;
    display: flex;
    padding: 0;
    margin-inline: auto;
    width: fit-content;
    gap: var(--size-8);
    color: var(--gray-1);
  }

  .header-link {
    --underline: 1px solid;
    color: inherit;
    display: block;
    padding: 0.1em;
    border-bottom: var(--underline) transparent;
    transition: border-color 200ms ease-in;
  }

  .header-link:hover {
    border-bottom: var(--underline) var(--gray-1);
  }

  .header-logo {
    font-weight: 600;
    margin-right: auto;
  }

  .contact-link {
    justify-self: end;
    display: grid;
    grid-template-columns: 25px 1fr;
    grid-column-gap: var(--size-2);
    padding-block: 1em;
    padding-inline: 2em;
    background-color: var(--green-9);
    border-radius: var(--radius-3);
    color: white;
    transition: background-color 200ms ease-in;
  }
  .contact-link:hover {
    background-color: var(--green-10);
  }
</style>
