<div>
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5569.056980393666!2d7.363595076330563!3d45.74054997107979!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4788df4df04284ad%3A0x4f606dddc0e97e3b!2sCe.da.co%20srl!5e0!3m2!1sit!2sit!4v1729951679626!5m2!1sit!2sit"
    width="900"
    height="500"
    style="border:0;"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
