---
import Card from "./Card.astro";

const cardImages = [
  {
    img: () => import("../assets/images/consulente-lavoro-buste-paga.jpg"),
    body: "Elaborazione Buste Paga",
  },
  {
    img: () => import("../assets/images/consulente-lavoro-personale.jpg"),
    body: "Amministrazione del Personale",
  },
  {
    img: () => import("../assets/images/consulente-lavoro-giuslavorista.jpg"),
    body: "Consulenza Giuslavoristica e Contrattuale",
  },
  {
    img: () => import("../assets/images/privacy.jpg"),
    body: "Servizi del Commercialista",
  },
];
---

<section
  id="services"
  class="section-services"
  aria-labelledby="heading-services"
>
  <div class="container">
    <h2 id="heading-services">Servizi</h2>
    <p class="cards-grid">
      <ul class="cards-grid list-reset">
        {
          cardImages.map(({ img, body }) => (
            <li>
              <Card img={img} body={body} />
            </li>
          ))
        }
      </ul>
    </p>
  </div>
</section>

<style>
  .section-services {
    background-color: var(--blue-9);
    display: grid;
  }

  .section-services h2 {
    color: white;
    text-align: center;
    margin-inline: auto;
  }

  .cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-column-gap: var(--section-grid-column-gap);
    justify-items: center;
  }
</style>
