---
import Card from "./Card.astro";

const cardImages = [
  {
    img: () => import("../assets/images/consulente-lavoro-buste-paga.jpg"),
    body: "Elaborazione Buste Paga",
  },
  {
    img: () => import("../assets/images/consulente-lavoro-personale.jpg"),
    body: "Amministrazione del Personale",
  },
  {
    img: () => import("../assets/images/consulente-lavoro-giuslavorista.jpg"),
    body: "Consulenza Giuslavoristica e Contrattuale",
  },
  {
    img: () => import("../assets/images/privacy.jpg"),
    body: "Servizi del Commercialista",
  },
];
---

<section id="services" class="section-services section-standard">
  <div class="container">
    <h2>Servizi</h2>
    <div class="cards-grid">
      {cardImages.map(({ img, body }) => <Card img={img} body={body} />)}
    </div>
  </div>
</section>

<style>
  .section-services {
    background-color: var(--blue-9);
    padding-block: var(--size-8);
    display: grid;
    grid-row-gap: var(--size-7);
    margin-bottom: 0;
    padding-bottom: var(--size-6);
  }

  .section-services h2 {
    color: white;
    text-align: center;
    margin-inline: auto;
  }

  .cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: var(--size-8);
    justify-items: center;
  }
</style>
