---
import Card from "./Card.astro";

const cardImages = [
  {
    img: () => undefined, //import("../assets/images/consulente-lavoro-buste-paga.jpg"),
    body: "Elaborazione Buste Paga",
  },
  {
    img: () => undefined, // import("../assets/images/consulente-lavoro-personale.jpg"),
    body: "Amministrazione del Personale",
  },
  {
    img: () => undefined, // import("../assets/images/consulente-lavoro-giuslavorista.jpg"),
    body: "Consulenza Giuslavoristica e Contrattuale",
  },
  {
    img: () => undefined, // import("../assets/images/privacy.jpg"),
    body: "Servizi del Commercialista",
  },
];
---

<section
  id="services"
  class="section-services"
  aria-labelledby="heading-services"
>
  <div class="container">
    <h2 id="heading-services">Servizi</h2>
    <p class="cards-grid">
      <ul class="cards-grid list-reset">
        <Card title="Consulenza Tributaria">
          <ul class="service-card-text">
            <li>Tax-planning per imprese e persone fisiche</li>
            <li>
              Elaborazione, redazione e trasmissione telematica delle
              dichiarazioni fiscali richieste dalle norme vigenti in materia
            </li>
            <li>Pareri di carattere tributario</li>
            <li>Gestione dei rapporti con l'Amministrazione Finanziaria</li>
            <li>Visto di conformità</li>
          </ul>
        </Card>
        <Card title="Consulenza d'Impresa e Societaria">
          <ul class="service-card-text">
            <li>Valutazioni Aziendali e di partecipazioni societarie</li>
            <li>Perizie tecniche di parte</li>
            <li>
              Assistenza negli adempimenti per la costituzione, variazioni e
              chiusura delle imprese individuali o familiari
            </li>
            <li>
              Costituzioni societarie, predisposizioni di atti e delibere e
              tenuta dei libri sociali
            </li>
            <li>
              Operazioni straoridinarie (fusioni, scissioni, trasformazioni,
              liquidazioni, scioglimenti e cessioni di aziende)
            </li>
            <li>
              Assistenza contrattuale e negoziazioni nei rapporti con i terzi e
              fra soci
            </li>
            <li>Domiciliazionie societaria</li>
          </ul>
        </Card>
        <Card title="Contabilità e Bilancio">
          <ul class="service-card-text">
            <li>
              Formazione, predisposizione e deposito in Camera di Commercio dei
              bilanci di esercizio
            </li>
            <li>
              Elaborazione e tenuta delle scritture contabili in ogni regime
              fiscale vigente
            </li>
            <li>Redazione bilanci infrannuali e analisi di bilancio</li>
          </ul>
        </Card>
        <Card title="Enti Locali">
          <ul class="service-card-text">
            <li>
              Elaborazione e tenuta delle scritture contabili Enti Pubblici e
              redazione ed invio della dichiarazione IVA ed IRAP (metodo
              istituzionale o commerciale)
            </li>
          </ul>
        </Card>
      </ul>
    </p>
  </div>
</section>

<style>
  .section-services {
    background-color: var(--blue-9);
    display: grid;
    background-image: linear-gradient(
        to right bottom,
        rgba(44, 138, 62, 0.7),
        rgba(115, 21, 54, 0.7)
      ),
      url("/images/hero.jpg");
    background-size: cover;
    background-position: center;
  }

  .section-services h2 {
    color: var(--text-color-white);
    text-align: center;
    margin-inline: auto;
  }

  .cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-column-gap: var(--section-grid-column-gap);
    grid-row-gap: var(--below-heading-margin);
    justify-items: center;
  }

  .service-card-text {
    color: var(--text-color-white);
    font-size: var(--font-size-1);
    padding-left: 1em;
    margin: 0;
  }
  .service-card-text li {
    margin-top: 1rem;
    line-height: 1.3;
  }
</style>
