---
const { title } = Astro.props;

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Credits from "../components/Credits.astro";
---

<!doctype html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
    <Credits />
  </body>
</html>

<style is:global>
  @import "open-props/postcss/style";
  @import "open-props/postcss/normalize";

  * {
    --text-color-heading: var(--gray-7);
    --text-color-body: var(--gray-6);
    --text-color-white: var(--gray-1);
    --padding-inline: var(--2em);
    --max-content-width: 80rem;
    --heading-font-weight: var(--font-weight-4);
    --heading-font-family: var(--font-neo-grotesque);

    --section-grid-column-gap: var(--size-7);

    --below-heading-margin: 1em;
    --content-font-size: var(--font-size-1);

    --color-blue-light: var(--blue-10);
    --color-blue-dark: var(--blue-11);

    --color-green-light: var(--green-9);
    --color-green-dark: var(--green-10);

    --gap-align-icons: var(--size-2);

    --border-radius: var(--radius-3);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: var(--heading-font-weight);
    color: var(--text-color-heading);
    font-family: var(--heading-font-family);
  }

  p {
    color: var(--text-color-body);
  }

  h1 + *,
  h2 + *,
  h3 + *,
  h4 + *,
  h5 + *,
  h6 + * {
    margin-top: var(--below-heading-margin);
  }

  section {
    padding-block: var(--size-7);
  }

  .container {
    width: min(80rem, 100% - 2em);
    max-inline-size: min(80rem, 100% - 2em);
    margin-inline: auto;
  }

  .list-reset {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .list-reset > li {
    padding: 0;
    margin: 0;
  }

  .section-content-grid {
    display: grid;
    grid-column-gap: var(--section-grid-column-gap);
  }

  .visibly-hidden {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
</style>
